.topBar {
	background: #ffffff;
	border-bottom: #cccccc solid 5px;  /* is this list correct?*/
	overflow: auto;
	padding-left: 20%;
}

.topBar_left {
	float: left;
	width: 20%;
	background-color: green;
  	margin-left: 15px;
	padding: 20px;
}

.topBar_right {
	float: left;
 	padding: 20px;
 	margin-left: 25%;
}

.middleBar {
	background: orange;
	clear: both;
	overflow: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-left: 20%;
}

.middleBar_main {
	float: left;
	overflow: auto;
  	width: 40%;
	background-color: white;
	padding: 30px;
 	margin: 15px;
}

.middleBar_right {
	float: left;
	width: 20%;
	background-color: white;
	margin: 15px;
	padding: 30px;
}
.bottomBar {
	background: #666666;
	border-top: #4aaaa5 solid 10px;
	text-align: center;
	padding: 30px 30px 30px 30px;
}

.imageLink {
	height: 30%;
	width: 30%;
}

#profilePic {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
}