/*generic sections and content boxes */
.topBar {
	background-color: #ffffff;
	border-bottom: #cccccc solid 3px;  /* is this list correct?*/
	overflow: auto;
	padding-left: 20%;
}

.topBar__name {
	float: left;
	background-color: #4aaaa5;
  	margin-left: 15px;
	padding: 0px 30px 0px 30px;
}

.topBar__navigation {
	float: right;
	margin-right: 30%;
	margin-left: 15px;
 	/*background-color: orange;*/
 	vertical-align: bottom;  /*why isn't this working?*/
}

.middleBar {
	clear: both;
	overflow: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-left: 20%;
}

.contentBox {
	border: #CCCCCC solid 1px;
}

.contentBox__main {
	float: left;
	overflow: auto;
  	width: 40%;
	background-color: #ffffff;
	padding: 0px 30px 30px 30px;
 	margin: 15px;
}

.contentBox__connect {
	float: left;
	overflow: auto;
	width: 20%;
	background-color: #ffffff;
	margin: 15px;
	padding: 0px 30px 30px 30px;
}
.bottomBar {
	background-color: #666666;
	color: #cccccc;
	border-top: #4aaaa5 solid 8px;
	text-align: center;
	padding: 30px 30px 30px 30px;
}

/*about page items */
#profilePic {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

/*portfolio page items*/
.portfolioItem__odd {
	float: left;
	width:45%;
	height: 45%;
	position: relative;
	margin: 30px 0px 0px 0px;
}

.portfolioItem__even {
	float: right;
	width:45%;
	height: 45%;
	position: relative;
	margin: 30px 0px 0px 0px;
}

.portfolioPic {
	width: 100%;
	height: 100%;
}

.portfolioTitle {
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	background-color: #4aaaa5;
}

/*contact page elements*/

form {
	margin: 20px 0px 0px 0px;
}
input {
	width: 100%;
	margin: 10px 0px 20px 0px;
	font-family: Arial;
	color: #CCCCCC
}

textarea {
	width: 100%;
	margin: 10px 0px 20px 0px;
	font-family: Arial;
	color: #CCCCCC
}

button {
	background-color: #4aaaa5;
	border: none;
	padding: 15px;
	font-family: Arial;
	color: #ffffff;
}

/*general elements*/
body {
	background-image: url("../images/background.png");
	margin: 0px;
	padding: 0px;
	border: 0px;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #CCCCCC;
}

/*text and header styles*/
.standardText {
	font-family: Arial;
	color: #777777
}

h1, h2, h3, h4 {
	font-family: Georgia;
	color: #4aaaa5;
}

.h1--name {
	color: #ffffff;
}

.h4--portfolioTitle {
	color: #ffffff;
}

/*link styles*/
a {
	text-decoration: none;
}

.a__imageLink {
	height: 30%;
	width: 30%;
}

.a__imageLink:hover {
	height: 33%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.a__navLink {
	color: #777777;
}

.a__navLink:hover {
	color: #4aaaa5;
}


